nav{
    background-color: var(--background);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 30px;

    & img{
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    & ul{
        .sol {
            background: none;
            border: none;
            width: 20px;
            height: 20px;
        }
        
        display: flex;
        gap: 20px;
        text-transform: uppercase;

        & a{
            color: var(--text-color);
            transition:all 0.5s;
            &:hover{
                color: orange
            }
        }
    }
}